.fit{ 
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2px;
   flex-direction: column;
   height: 75vh;
}


.shirt, .pants, .shoes {
   width: 200px;
   height: 200px;
   object-fit: cover;
   margin: 10px;
}

.saveFit button {
   background-color: white;
   border-radius: 2px;
   border-color: black;
}