.fit{ 
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2px;
   flex-direction: column;
   height: 50vh;
}


.shirt, .pants, .shoes {
   display: flex;
   align-items: center;
   justify-content: center;
   border: solid black 1px; 
   padding: 2px;
   flex-direction: column;
   width: 100px;
   height: 100px;
   margin: 10px;
}

.saveFit button {
   background-color: white;
   border-radius: 2px;
   border-color: black;
}